<h2>Login</h2>
<hr />
<div id="login" class="body">
	<form class="pure-form" method="POST" action="/admin/">
		<input name="username" placeholder="Username" value=""/>
		<input name="password" type="password" placeholder="Password" value=""/>
	
		<input class="pure-button pure-button-primary" type="submit" value="Login" />
	</form>
</div>