<div id="user-add"><h2>Add User</h2>
<%= (typeof(errors) !== 'undefined') ? errors : "" %>
<div id="login" class="body">
	<form class="pure-form" method="POST" action="/admin/users/">
		<input name="username" placeholder="Username" value=""/>
		<input name="password" type="password" placeholder="Password" value=""/>
		
		<input class="pure-button pure-button-primary" type="submit" value="Save" />
	</form>
</div>
</div>
<div id="user-listing">
<h2>Users</h2>
</div>
<%= (typeof(users) !== 'undefined') ? users : "" %>