<div id='cssmenu'>
<ul>
   <li class='active'><a href='/'><span>Home</span></a></li>
   <li><a href='/Analytics'><span>Analytics</span></a></li>
   <li class='last'><a href='/Login'><span>Login</span></a></li>
</ul>
</div>