<div id='menu'>
	<ul>
		<li class='active'><a href='/' id='nav-home'><span>Home</span></a></li>
		<% if (userAuthenticated) { %>
			<li class=''><a href='/tracking' id='nav-tracking'><span>Tracking</span></a></li>
			<li class=''><a href='/clients' id='nav-clients'><span>Clients</span></a></li>
			<li class=''><a href='/applications' id='nav-applications'><span>Applications</span></a></li>
			<li class=''><a href='/users' id='nav-users'><span>Users</span></a></li>
			<li class=''><a href='/logout' id='nav-logout'><span>Logout</span></a></li>
		<% } else { %>
			<li class='last'><a href='/login' id='nav-login'><span>Login</span></a></li>
		<% } %>
	</ul>
</div>