<div id='menu'>
	<ul>
		<li class='active'><a href='/admin/overview'><span>Home</span></a></li>
		<li><a href='/admin/tracking/'><span>Tracking</span></a></li>
		<li><a href='/admin/users/'><span>Users</span></a></li>
		<li class='last'><a href='/admin/logout'><span>Logout</span></a></li>
	</ul>
</div>