<div id="footer">
<p>v.<%= version %> | <a href="https://github.com/BobGneu/Atlas-Server/wiki">Wiki</a> | <a href="https://github.com/BobGneu/Atlas-Server/issues">Issues</a> | Copyright <a href="http://gneu.org">Gneu</a> LLC. &copy; 2014</p>
</div>