<h2>Create</h2>
<div id="create_application" class="body">
	<form class="pure-form" method="POST" action="/applications/create">
		<input name="name" placeholder="Name" value=""/>
		<label for="allowGame">
            <input id="allowGame" type="checkbox"> Allow Game
        </label>
		<label for="allowEditor">
            <input id="allowEditor" type="checkbox"> Allow Editor
        </label>
	
		<input class="pure-button pure-button-primary" type="submit" value="Create" />
	</form>
</div>