{% extends 'standard.html' %}
{% block body %}
<h2>Create</h2>
<div id="create_user" class="body">
	<form class="pure-form" method="POST" action="/users/create">
		<input name="name" placeholder="Name" value=""/>
		<input name="email" placeholder="Email" value=""/>
		<input name="password" placeholder="Password" type="password" value=""/>
		<input name="password-conf" placeholder="Password Confirmation" type="password" value=""/>
		<select name="role" id="role-selector">
			<option value="Manager">Manager</option>
			{% if (isAdministrator) %}<option value="Administrator">Administrator</option>{% endif %}
		</select>
		
		<input class="pure-button pure-button-primary" type="submit" value="Create" />
	</form>
</div>
{% for user in users %}
{% if loop.first %}<table id="users-listing"><tr><th>Name</th><th>Email</th><th>Role</th><th>Actions</th></tr>{% endif %}
<tr><td><a href="/users/{{- user._id -}}">{{ user.Name }}</a></td><td>{{ user.Email }}</td><td>{{ user.Role }}</td><td><a href="#">Edit</a> <a href="#">Delete</a> {% if (isAdministrator) %}{% if (user.Role === "Manager") %}<a href="#">To Manager</a>{% else %}<a href="#">To Administrator</a>{% endif %}{% endif %}</td></tr>
{% if loop.last %}</table>{% endif %}
{% endfor %}
<pre>{{ user }}</pre>
{% endblock body %}