{% extends 'standard.html' %}

{% block body %}
<h2>Create</h2>
<div id="create_report" class="body">
    <form class="pure-form" method="POST" action="/tracking/create">
        <input name="name" placeholder="Name" value="" />

        <input class="pure-button pure-button-primary" type="submit" value="Create" />
    </form>
</div>
{% for report in reports %}
{% if loop.first %}<table id="reports-listing"><tr><th>Name</th><th>Actions</th></tr>{% endif %}
<tr><td><a href="/reports/{{- report._id.toString() -}}">{{ report.Name }}</a></td><td><a href="#">Edit</a> <a href="#">Delete</a></td></tr>
{% if loop.last %}</table>{% endif %}
{% endfor %}
{% endblock body %}
